# Ignore Python scripts and caches
*.py
__pycache__/
*.pyc

# Ignore Data files
*.csv
*.xlsx
*.xml
*.txt
*.json

# Ignore Chrome profile
chrome_debug_profile/

# Ignore Backup
Legacy_Backup/

# Allow specific text files if needed (like documentation)
!MIGRATION_GUIDE.md
!Stripe_Integration_Instructions.txt
